imgs {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  #image {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
  }
  
  #img-div {
    background: white;
    padding: 10px;
    margin: 0;
  }