html {
    font-size: 10px;
  }
  
body {
    font-family: Lucida Console;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #333;
    margin: 0 0 4px 0;
    background-color: #333;
}

h1 {
    font-size: 4rem;
    margin: 0;
}

@media (max-width: 460px) {
    h1 {
      font-size: 3.5rem;
      line-height: 1.2;
    }
}

h2 {
    font-size: 3.25rem;
}

a {
    color: orange;
    text-decoration: none;
}

#main {
    margin: 4px 8px;
    padding: 15px;
    border-radius: 5px;
    color: aliceblue;
}

@media (max-width: 460px) {
    #main {
    margin: 0;
    }
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

#img-div {
    background-color: white;
    padding: 10px;
    margin: 0;
}

#img-caption {
    margin: 15px 0 5px 0;
    color: black;
}

@media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
}

blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
}

#author {
    opacity: 0.2;
    color: aquamarine;
    margin-bottom: 3px;
}

#github {
    color: aquamarine;  
}